{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Rescan Explorer",
    "description": "Api reference for the Rescan Explorer",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockflow.network/rest"
    }
  ],
  "paths": {
    "/eigenlayer/all-distribution-roots": {
      "get": {
        "summary": "All Distribution Roots",
        "description": "Fetches distinct distribution root entries with their latest information, supporting pagination and filtering based on various query parameters.",
        "operationId": "getDistributionRoots",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "description": "The page number for pagination (default is 1)."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 12,
              "description": "The number of items per page (default is 12)."
            }
          },
          {
            "name": "rootIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The root index to filter the distribution roots."
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to filter by active status (true or false)."
            }
          },
          {
            "name": "startTimestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The start timestamp to filter distribution roots."
            }
          },
          {
            "name": "endTimestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "The end timestamp to filter distribution roots."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with distribution root data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rootIndex": {
                            "type": "string",
                            "description": "The unique identifier for the distribution root."
                          },
                          "root": {
                            "type": "string",
                            "description": "The root value associated with the distribution root."
                          },
                          "rewardsCalculationEndTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp marking the end of the rewards calculation."
                          },
                          "activatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the distribution root was activated."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Indicates whether the distribution root is active."
                          },
                          "updatedAt": {
                            "type": "object",
                            "properties": {
                              "blockNumber": {
                                "type": "string",
                                "description": "The block number for the last update."
                              },
                              "blockTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp of the block when the last update occurred."
                              },
                              "transactionHash": {
                                "type": "string",
                                "description": "The transaction hash of the last update."
                              }
                            }
                          },
                          "createdAt": {
                            "type": "object",
                            "properties": {
                              "blockNumber": {
                                "type": "string",
                                "description": "The block number when the distribution root was created."
                              },
                              "blockTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp of the block when the distribution root was created."
                              },
                              "transactionHash": {
                                "type": "string",
                                "description": "The transaction hash when the distribution root was created."
                              }
                            }
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the distribution root was created."
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "The total number of distribution roots."
                        },
                        "page": {
                          "type": "integer",
                          "description": "The current page number."
                        },
                        "limit": {
                          "type": "integer",
                          "description": "The number of items per page."
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "The total number of pages."
                        },
                        "hasMore": {
                          "type": "boolean",
                          "description": "Indicates whether there are more pages."
                        },
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "totalDistributionRoots": {
                              "type": "integer",
                              "description": "The total number of distribution roots."
                            },
                            "activeDistributionRoots": {
                              "type": "integer",
                              "description": "The total number of active distribution roots."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenlayer/distribution-roots-by-status": {
      "get": {
        "operationId": "getAllDistributionRootsByStatus",
        "summary": "Retrieve all distribution roots by status",
        "description": "Fetches all distribution root records by status with pagination support. Returns the most recent root for each rootIndex.",
        "tags": [
          "Distribution Roots"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The status of distribution roots to filter by",
              "example": "disabled"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "description": "The page number to retrieve",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 12,
              "description": "The number of records per page",
              "example": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of distribution root records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rootIndex": {
                            "type": "number",
                            "description": "The index of the distribution root",
                            "example": 1
                          },
                          "root": {
                            "type": "string",
                            "description": "The Merkle root hash",
                            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                          },
                          "rewardsCalculationEndTimestamp": {
                            "type": "number",
                            "description": "The timestamp when rewards calculation ended",
                            "example": 1727836560
                          },
                          "activatedAt": {
                            "type": "number",
                            "description": "The timestamp when the root was activated",
                            "example": 1727836560
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the distribution root",
                            "example": "active"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The timestamp when the record was created",
                            "example": 1727836560
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The timestamp when the record was last updated",
                            "example": 1727836560
                          }
                        },
                        "required": [
                          "rootIndex",
                          "root",
                          "rewardsCalculationEndTimestamp",
                          "activatedAt",
                          "status",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "Total number of records in the database",
                          "example": 30
                        },
                        "page": {
                          "type": "number",
                          "description": "The page number of the current response",
                          "example": 1
                        },
                        "limit": {
                          "type": "number",
                          "description": "The number of records returned for this query",
                          "example": 12
                        }
                      },
                      "required": [
                        "total",
                        "page",
                        "limit"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenlayer/all-rewards-claim": {
      "get": {
        "operationId": "getAllRewardClaims",
        "summary": "Retrieve all reward claims with statistics",
        "description": "Fetches reward claims with pagination support, filtering options, and comprehensive statistics about the claims.",
        "tags": [
          "Reward Claims"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "description": "The page number to retrieve",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 12,
              "description": "The number of records per page",
              "example": 12
            }
          },
          {
            "name": "earner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Address of the reward earner to filter by",
              "example": "0x1234567890abcdef1234567890abcdef12345678"
            }
          },
          {
            "name": "claimer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Address of the claimer to filter by",
              "example": "0x1234567890abcdef1234567890abcdef12345678"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Address of the recipient to filter by",
              "example": "0x1234567890abcdef1234567890abcdef12345678"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Address of the token to filter by",
              "example": "0x1234567890abcdef1234567890abcdef12345678"
            }
          },
          {
            "name": "root",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Merkle root hash to filter by",
              "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of reward claims with statistics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "root": {
                            "type": "string",
                            "description": "The Merkle root hash",
                            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                          },
                          "earner": {
                            "type": "string",
                            "description": "Address of the reward earner",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "claimer": {
                            "type": "string",
                            "description": "Address of the claimer",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "recipient": {
                            "type": "string",
                            "description": "Address of the recipient",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "token": {
                            "type": "string",
                            "description": "Address of the token",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "claimedAmount": {
                            "type": "string",
                            "description": "Amount of tokens claimed",
                            "example": "1000000000000000000"
                          },
                          "claimedAt": {
                            "type": "number",
                            "description": "Timestamp of when the claim was made",
                            "example": 1727836560
                          }
                        },
                        "required": [
                          "root",
                          "earner",
                          "claimer",
                          "recipient",
                          "token",
                          "claimedAmount",
                          "claimedAt"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "Total number of records in the database",
                          "example": 30
                        },
                        "page": {
                          "type": "number",
                          "description": "The page number of the current response",
                          "example": 1
                        },
                        "limit": {
                          "type": "number",
                          "description": "The number of records returned for this query",
                          "example": 12
                        }
                      },
                      "required": [
                        "total",
                        "page",
                        "limit"
                      ]
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "distinctRoots": {
                          "type": "number",
                          "description": "Number of unique Merkle roots",
                          "example": 5
                        },
                        "distinctClaimers": {
                          "type": "number",
                          "description": "Number of unique claimers",
                          "example": 100
                        },
                        "distinctEarners": {
                          "type": "number",
                          "description": "Number of unique earners",
                          "example": 95
                        },
                        "distinctRecipients": {
                          "type": "number",
                          "description": "Number of unique recipients",
                          "example": 98
                        },
                        "distinctTokens": {
                          "type": "number",
                          "description": "Number of unique tokens",
                          "example": 3
                        },
                        "totalClaimedAmount": {
                          "type": "string",
                          "description": "Total amount claimed across all tokens",
                          "example": "1000000000000000000000"
                        },
                        "firstClaimDate": {
                          "type": "number",
                          "description": "Timestamp of the first claim",
                          "example": 1727836560,
                          "nullable": true
                        },
                        "lastClaimDate": {
                          "type": "number",
                          "description": "Timestamp of the last claim",
                          "example": 1727836560,
                          "nullable": true
                        },
                        "tokensSummary": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "totalAmount": {
                                "type": "string",
                                "description": "Total amount claimed for this token",
                                "example": "500000000000000000000"
                              },
                              "claimsCount": {
                                "type": "number",
                                "description": "Number of claims for this token",
                                "example": 50
                              }
                            },
                            "required": [
                              "totalAmount",
                              "claimsCount"
                            ]
                          },
                          "description": "Summary of claims grouped by token"
                        }
                      },
                      "required": [
                        "distinctRoots",
                        "distinctClaimers",
                        "distinctEarners",
                        "distinctRecipients",
                        "distinctTokens",
                        "totalClaimedAmount",
                        "firstClaimDate",
                        "lastClaimDate",
                        "tokensSummary"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta",
                    "statistics"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenlayer/all-avs-rewards-submission": {
      "get": {
        "operationId": "getAVSRewardsSubmissions",
        "summary": "Retrieve all AVS rewards submissions",
        "description": "Fetches AVS rewards submissions with pagination support and strategy information.",
        "tags": [
          "AVS Rewards"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "description": "The page number to retrieve",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 12,
              "description": "The number of records per page",
              "example": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of AVS rewards submissions with pagination metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avs": {
                            "type": "string",
                            "description": "The AVS identifier",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "submissionNonce": {
                            "type": "string",
                            "description": "The nonce of the submission",
                            "example": "1"
                          },
                          "rewardsSubmissionHash": {
                            "type": "string",
                            "description": "Hash of the rewards submission",
                            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                          },
                          "tokenUsed": {
                            "type": "string",
                            "description": "Address of the token used for rewards",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "tokenAmount": {
                            "type": "string",
                            "description": "Amount of tokens for rewards",
                            "example": "1000000000000000000"
                          },
                          "startTimestamp": {
                            "type": "number",
                            "description": "Start timestamp of the rewards period",
                            "example": 1727836560
                          },
                          "duration": {
                            "type": "number",
                            "description": "Duration of the rewards period in seconds",
                            "example": 604800
                          },
                          "strategies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of strategy addresses",
                            "example": [
                              "0x1234567890abcdef1234567890abcdef12345678",
                              "0x9876543210abcdef1234567890abcdef12345678"
                            ]
                          },
                          "blockTimestamp": {
                            "type": "number",
                            "description": "Timestamp of the block when submission was made",
                            "example": 1727836560
                          }
                        },
                        "required": [
                          "avs",
                          "submissionNonce",
                          "rewardsSubmissionHash",
                          "tokenUsed",
                          "tokenAmount",
                          "startTimestamp",
                          "duration",
                          "strategies",
                          "blockTimestamp"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "Total number of records in the database",
                          "example": 30
                        },
                        "page": {
                          "type": "number",
                          "description": "The current page number",
                          "example": 1
                        },
                        "limit": {
                          "type": "number",
                          "description": "The number of records per page",
                          "example": 12
                        }
                      },
                      "required": [
                        "total",
                        "page",
                        "limit"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenlayer/avs-rewards-submission-by-avs": {
      "get": {
        "operationId": "getAVSRewardsSubmissionsByAVS",
        "summary": "Retrieve all AVS rewards submissions of an AVS",
        "description": "Fetches AVS rewards submissions of an AVS with pagination support and strategy information.",
        "tags": [
          "AVS Rewards"
        ],
        "parameters": [
          {
            "name": "avs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The address of AVS to filter by",
              "example": "0x870679e138bcdf293b7ff14dd44b70fc97e12fc0"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "description": "The page number to retrieve",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 12,
              "description": "The number of records per page",
              "example": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of AVS rewards submissions with pagination metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avs": {
                            "type": "string",
                            "description": "The AVS identifier",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "submissionNonce": {
                            "type": "string",
                            "description": "The nonce of the submission",
                            "example": "1"
                          },
                          "rewardsSubmissionHash": {
                            "type": "string",
                            "description": "Hash of the rewards submission",
                            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                          },
                          "tokenUsed": {
                            "type": "string",
                            "description": "Address of the token used for rewards",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "tokenAmount": {
                            "type": "string",
                            "description": "Amount of tokens for rewards",
                            "example": "1000000000000000000"
                          },
                          "startTimestamp": {
                            "type": "number",
                            "description": "Start timestamp of the rewards period",
                            "example": 1727836560
                          },
                          "duration": {
                            "type": "number",
                            "description": "Duration of the rewards period in seconds",
                            "example": 604800
                          },
                          "strategies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of strategy addresses",
                            "example": [
                              "0x1234567890abcdef1234567890abcdef12345678",
                              "0x9876543210abcdef1234567890abcdef12345678"
                            ]
                          },
                          "blockTimestamp": {
                            "type": "number",
                            "description": "Timestamp of the block when submission was made",
                            "example": 1727836560
                          }
                        },
                        "required": [
                          "avs",
                          "submissionNonce",
                          "rewardsSubmissionHash",
                          "tokenUsed",
                          "tokenAmount",
                          "startTimestamp",
                          "duration",
                          "strategies",
                          "blockTimestamp"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "Total number of records in the database",
                          "example": 30
                        },
                        "page": {
                          "type": "number",
                          "description": "The current page number",
                          "example": 1
                        },
                        "limit": {
                          "type": "number",
                          "description": "The number of records per page",
                          "example": 12
                        }
                      },
                      "required": [
                        "total",
                        "page",
                        "limit"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenlayer/avs-rewards-submission-by-tokenUsed": {
      "get": {
        "operationId": "getAVSRewardsSubmissionsByTokenUsed",
        "summary": "Retrieve all AVS rewards submissions of given Token",
        "description": "Fetches AVS rewards submissions of an Token with pagination support and strategy information.",
        "tags": [
          "AVS Rewards"
        ],
        "parameters": [
          {
            "name": "tokenUsed",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The address of Token to filter by",
              "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1,
              "description": "The page number to retrieve",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 12,
              "description": "The number of records per page",
              "example": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of AVS rewards submissions with pagination metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avs": {
                            "type": "string",
                            "description": "The AVS identifier",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "submissionNonce": {
                            "type": "string",
                            "description": "The nonce of the submission",
                            "example": "1"
                          },
                          "rewardsSubmissionHash": {
                            "type": "string",
                            "description": "Hash of the rewards submission",
                            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                          },
                          "tokenUsed": {
                            "type": "string",
                            "description": "Address of the token used for rewards",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "tokenAmount": {
                            "type": "string",
                            "description": "Amount of tokens for rewards",
                            "example": "1000000000000000000"
                          },
                          "startTimestamp": {
                            "type": "number",
                            "description": "Start timestamp of the rewards period",
                            "example": 1727836560
                          },
                          "duration": {
                            "type": "number",
                            "description": "Duration of the rewards period in seconds",
                            "example": 604800
                          },
                          "strategies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of strategy addresses",
                            "example": [
                              "0x1234567890abcdef1234567890abcdef12345678",
                              "0x9876543210abcdef1234567890abcdef12345678"
                            ]
                          },
                          "blockTimestamp": {
                            "type": "number",
                            "description": "Timestamp of the block when submission was made",
                            "example": 1727836560
                          }
                        },
                        "required": [
                          "avs",
                          "submissionNonce",
                          "rewardsSubmissionHash",
                          "tokenUsed",
                          "tokenAmount",
                          "startTimestamp",
                          "duration",
                          "strategies",
                          "blockTimestamp"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number",
                          "description": "Total number of records in the database",
                          "example": 30
                        },
                        "page": {
                          "type": "number",
                          "description": "The current page number",
                          "example": 1
                        },
                        "limit": {
                          "type": "number",
                          "description": "The number of records per page",
                          "example": 12
                        }
                      },
                      "required": [
                        "total",
                        "page",
                        "limit"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenlayer/avs-rewards-submission-by-hash": {
      "get": {
        "operationId": "getAVSRewardsSubmissionByHash",
        "summary": "Retrieve AVS rewards submission by hash",
        "description": "Fetches detailed information about a specific AVS rewards submission using its hash.",
        "tags": [
          "AVS Rewards"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The rewards submission hash to look up",
              "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The detailed information about the AVS rewards submission.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "avs": {
                          "type": "string",
                          "description": "The AVS identifier",
                          "example": "0x1234567890abcdef1234567890abcdef12345678"
                        },
                        "submissionNonce": {
                          "type": "string",
                          "description": "The nonce of the submission",
                          "example": "1"
                        },
                        "rewardsSubmissionHash": {
                          "type": "string",
                          "description": "Hash of the rewards submission",
                          "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                        },
                        "tokenUsed": {
                          "type": "string",
                          "description": "Address of the token used for rewards",
                          "example": "0x1234567890abcdef1234567890abcdef12345678"
                        },
                        "tokenAmount": {
                          "type": "string",
                          "description": "Amount of tokens for rewards",
                          "example": "1000000000000000000"
                        },
                        "startTimestamp": {
                          "type": "number",
                          "description": "Start timestamp of the rewards period",
                          "example": 1727836560
                        },
                        "duration": {
                          "type": "number",
                          "description": "Duration of the rewards period in seconds",
                          "example": 604800
                        },
                        "strategyAndMultipliers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "strategy": {
                                "type": "string",
                                "description": "Address of the strategy",
                                "example": "0x1234567890abcdef1234567890abcdef12345678"
                              },
                              "multiplier": {
                                "type": "number",
                                "description": "Strategy multiplier value (normalized to 18 decimals)",
                                "example": 1.5
                              }
                            },
                            "required": [
                              "strategy",
                              "multiplier"
                            ]
                          },
                          "description": "Array of strategy addresses and their corresponding multipliers"
                        },
                        "blockTimestamp": {
                          "type": "number",
                          "description": "Timestamp of the block when submission was made",
                          "example": 1727836560
                        }
                      },
                      "required": [
                        "avs",
                        "submissionNonce",
                        "rewardsSubmissionHash",
                        "tokenUsed",
                        "tokenAmount",
                        "startTimestamp",
                        "duration",
                        "strategyAndMultipliers",
                        "blockTimestamp"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenda/all-batches": {
      "get": {
        "summary": "All Batches",
        "description": "Fetches all distinct batch entries with their latest information.",
        "operationId": "getBatchData",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "holesky"
              ],
              "default": "holesky"
            },
            "required": true,
            "description": "Select the network you want to track."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "description": "The page number for pagination (default is 1)."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 12,
              "description": "The number of items per page (default is 12)."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with batch data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "batchId": {
                            "type": "string",
                            "description": "The unique identifier for the batch."
                          },
                          "batchHeaderHash": {
                            "type": "string",
                            "description": "The hash of the batch header."
                          },
                          "blobsLength": {
                            "type": "integer",
                            "description": "The length of the blobs in the batch."
                          },
                          "quorumNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "The quorum numbers associated with the batch."
                            },
                            "description": "List of quorum numbers."
                          },
                          "blobHeadersRoot": {
                            "type": "string",
                            "description": "The root of the blob headers."
                          },
                          "referenceBlockNumber": {
                            "type": "integer",
                            "description": "The reference block number."
                          },
                          "signedStakeForQuorums": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quorumNumber": {
                                  "type": "string",
                                  "description": "The quorum number for which the stake is signed."
                                },
                                "stakeAmount": {
                                  "type": "integer",
                                  "description": "The amount of signed stake for the quorum."
                                }
                              }
                            },
                            "description": "Signed stake for each quorum."
                          },
                          "transactionHash": {
                            "type": "string",
                            "description": "The transaction hash associated with the batch."
                          },
                          "blockTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp of the block."
                          },
                          "blockNumber": {
                            "type": "integer",
                            "description": "The block number for the batch."
                          },
                          "operators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "nonSigners": {
                                  "type": "integer",
                                  "description": "The count of non-signers for the batch."
                                },
                                "signers": {
                                  "type": "integer",
                                  "description": "The count of signers for the batch."
                                }
                              }
                            },
                            "description": "Details about operators in the batch."
                          },
                          "quorumStakes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quorumNumber": {
                                  "type": "string",
                                  "description": "The quorum number."
                                },
                                "stakeAmount": {
                                  "type": "integer",
                                  "description": "The amount of stake for the quorum."
                                }
                              }
                            },
                            "description": "Quorum stakes for the batch."
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of distinct batches."
                        },
                        "page": {
                          "type": "integer",
                          "description": "The current page number."
                        },
                        "limit": {
                          "type": "integer",
                          "description": "The number of items per page."
                        },
                        "lastUpdateTimestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp of the latest update."
                        },
                        "latestBlock": {
                          "type": "integer",
                          "description": "The latest block number."
                        },
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "totalDistinctBatches": {
                              "type": "integer",
                              "description": "Total number of distinct batches."
                            },
                            "batchesWithNonSigners": {
                              "type": "integer",
                              "description": "Number of batches with non-signers."
                            },
                            "batchesWithNonSignersPercentage": {
                              "type": "number",
                              "format": "float",
                              "description": "Percentage of batches with non-signers."
                            },
                            "batchesWithSigners": {
                              "type": "integer",
                              "description": "Number of batches with signers."
                            },
                            "batchesWithSignersPercentage": {
                              "type": "number",
                              "format": "float",
                              "description": "Percentage of batches with signers."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenda/batch-info": {
      "get": {
        "summary": "Batch Info",
        "description": "Fetches detailed information about a batch, including metadata, logs, transactions, and block details.",
        "operationId": "getBatchData",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "holesky"
              ],
              "default": "holesky"
            },
            "required": true,
            "description": "Select the network you want to track."
          },
          {
            "name": "batchId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "The unique identifier for the batch."
            }
          },
          {
            "name": "batchHeaderHash",
            "in": "query",
            "required": false,
            "description": "The batch header hash to identify the batch data",
            "schema": {
              "type": "string",
              "description": "The unique identifier for the batch."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched batch data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "batchId": {
                          "type": "string"
                        },
                        "batchHeaderHash": {
                          "type": "string"
                        },
                        "blobsLength": {
                          "type": "integer"
                        },
                        "quorumNumbers": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "blobHeadersRoot": {
                          "type": "string"
                        },
                        "referenceBlockNumber": {
                          "type": "integer"
                        },
                        "signedStakeForQuorums": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "transactionHash": {
                          "type": "string"
                        },
                        "blockTimestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "blockNumber": {
                          "type": "integer"
                        },
                        "batchMetadata": {
                          "type": "object",
                          "properties": {
                            "apkG2": {
                              "type": "string"
                            },
                            "sigma": {
                              "type": "string"
                            },
                            "quorumApks": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "quorumApkIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerPubkeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "totalStakeIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerStakeIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerQuorumBitmapIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "operators": {
                          "type": "object",
                          "properties": {
                            "signers": {
                              "type": "string"
                            },
                            "nonSigners": {
                              "type": "string"
                            }
                          }
                        },
                        "signers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "nonSigners": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "quorumStakes": {
                          "type": "object",
                          "properties": {
                            "quorumNumber": {
                              "type": "string"
                            },
                            "stake": {
                              "type": "string"
                            }
                          }
                        },
                        "signatoryRecordHash": {
                          "type": "string"
                        },
                        "logs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "logIndex": {
                                "type": "string"
                              },
                              "logTransactionHash": {
                                "type": "string"
                              },
                              "logTransactionIndex": {
                                "type": "string"
                              },
                              "logAddress": {
                                "type": "string"
                              },
                              "logData": {
                                "type": "string"
                              },
                              "topics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "transactionHash": {
                                "type": "string"
                              },
                              "nonce": {
                                "type": "integer"
                              },
                              "index": {
                                "type": "integer"
                              },
                              "fromAddress": {
                                "type": "string"
                              },
                              "toAddress": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "gas": {
                                "type": "integer"
                              },
                              "gasPrice": {
                                "type": "string"
                              },
                              "receiptCumulativeGasUsed": {
                                "type": "integer"
                              },
                              "receiptGasUsed": {
                                "type": "integer"
                              },
                              "receiptStatus": {
                                "type": "string"
                              },
                              "effectiveGasPrice": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "block": {
                          "type": "object",
                          "properties": {
                            "blockNumber": {
                              "type": "integer"
                            },
                            "blockHash": {
                              "type": "string"
                            },
                            "parentHash": {
                              "type": "string"
                            },
                            "nonce": {
                              "type": "string"
                            },
                            "sha3Uncles": {
                              "type": "string"
                            },
                            "logsBloom": {
                              "type": "string"
                            },
                            "transactionsRoot": {
                              "type": "string"
                            },
                            "stateRoot": {
                              "type": "string"
                            },
                            "receiptsRoot": {
                              "type": "string"
                            },
                            "miner": {
                              "type": "string"
                            },
                            "difficulty": {
                              "type": "integer"
                            },
                            "totalDifficulty": {
                              "type": "integer"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "extraData": {
                              "type": "string"
                            },
                            "gasLimit": {
                              "type": "integer"
                            },
                            "gasUsed": {
                              "type": "integer"
                            },
                            "transactionCount": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "batchId": {
                          "type": "string"
                        },
                        "blockNumber": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenda/batch-by-hash": {
      "get": {
        "summary": "Batch Info by Hash",
        "description": "Fetches detailed information about a batch, including metadata, logs, transactions, and block details.",
        "operationId": "getBatchData",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "holesky"
              ],
              "default": "holesky"
            },
            "required": true,
            "description": "Select the network you want to track."
          },
          {
            "name": "batchHeaderHash",
            "in": "query",
            "required": true,
            "description": "The batch header hash to identify the batch data",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched batch data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "batchId": {
                          "type": "string"
                        },
                        "batchHeaderHash": {
                          "type": "string"
                        },
                        "blobsLength": {
                          "type": "integer"
                        },
                        "quorumNumbers": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "blobHeadersRoot": {
                          "type": "string"
                        },
                        "referenceBlockNumber": {
                          "type": "integer"
                        },
                        "signedStakeForQuorums": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "transactionHash": {
                          "type": "string"
                        },
                        "blockTimestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "blockNumber": {
                          "type": "integer"
                        },
                        "batchMetadata": {
                          "type": "object",
                          "properties": {
                            "apkG2": {
                              "type": "string"
                            },
                            "sigma": {
                              "type": "string"
                            },
                            "quorumApks": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "quorumApkIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerPubkeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "totalStakeIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerStakeIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerQuorumBitmapIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "operators": {
                          "type": "object",
                          "properties": {
                            "signers": {
                              "type": "string"
                            },
                            "nonSigners": {
                              "type": "string"
                            }
                          }
                        },
                        "signers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "nonSigners": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "quorumStakes": {
                          "type": "object",
                          "properties": {
                            "quorumNumber": {
                              "type": "string"
                            },
                            "stake": {
                              "type": "string"
                            }
                          }
                        },
                        "signatoryRecordHash": {
                          "type": "string"
                        },
                        "logs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "logIndex": {
                                "type": "string"
                              },
                              "logTransactionHash": {
                                "type": "string"
                              },
                              "logTransactionIndex": {
                                "type": "string"
                              },
                              "logAddress": {
                                "type": "string"
                              },
                              "logData": {
                                "type": "string"
                              },
                              "topics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "transactionHash": {
                                "type": "string"
                              },
                              "nonce": {
                                "type": "integer"
                              },
                              "index": {
                                "type": "integer"
                              },
                              "fromAddress": {
                                "type": "string"
                              },
                              "toAddress": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "gas": {
                                "type": "integer"
                              },
                              "gasPrice": {
                                "type": "string"
                              },
                              "receiptCumulativeGasUsed": {
                                "type": "integer"
                              },
                              "receiptGasUsed": {
                                "type": "integer"
                              },
                              "receiptStatus": {
                                "type": "string"
                              },
                              "effectiveGasPrice": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "block": {
                          "type": "object",
                          "properties": {
                            "blockNumber": {
                              "type": "integer"
                            },
                            "blockHash": {
                              "type": "string"
                            },
                            "parentHash": {
                              "type": "string"
                            },
                            "nonce": {
                              "type": "string"
                            },
                            "sha3Uncles": {
                              "type": "string"
                            },
                            "logsBloom": {
                              "type": "string"
                            },
                            "transactionsRoot": {
                              "type": "string"
                            },
                            "stateRoot": {
                              "type": "string"
                            },
                            "receiptsRoot": {
                              "type": "string"
                            },
                            "miner": {
                              "type": "string"
                            },
                            "difficulty": {
                              "type": "integer"
                            },
                            "totalDifficulty": {
                              "type": "integer"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "extraData": {
                              "type": "string"
                            },
                            "gasLimit": {
                              "type": "integer"
                            },
                            "gasUsed": {
                              "type": "integer"
                            },
                            "transactionCount": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "batchId": {
                          "type": "string"
                        },
                        "blockNumber": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenda/batch-by-id": {
      "get": {
        "summary": "Batch Info by Id",
        "description": "Fetches detailed information about a batch, including metadata, logs, transactions, and block details.",
        "operationId": "getBatchDetails",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "holesky"
              ],
              "default": "holesky"
            },
            "required": true,
            "description": "Select the network you want to track."
          },
          {
            "name": "batchId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "description": "The unique identifier for the batch."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched batch data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "batchId": {
                          "type": "string"
                        },
                        "batchHeaderHash": {
                          "type": "string"
                        },
                        "blobsLength": {
                          "type": "integer"
                        },
                        "quorumNumbers": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "blobHeadersRoot": {
                          "type": "string"
                        },
                        "referenceBlockNumber": {
                          "type": "integer"
                        },
                        "signedStakeForQuorums": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "transactionHash": {
                          "type": "string"
                        },
                        "blockTimestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "blockNumber": {
                          "type": "integer"
                        },
                        "batchMetadata": {
                          "type": "object",
                          "properties": {
                            "apkG2": {
                              "type": "string"
                            },
                            "sigma": {
                              "type": "string"
                            },
                            "quorumApks": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "quorumApkIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerPubkeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "totalStakeIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerStakeIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "nonSignerQuorumBitmapIndices": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "operators": {
                          "type": "object",
                          "properties": {
                            "signers": {
                              "type": "string"
                            },
                            "nonSigners": {
                              "type": "string"
                            }
                          }
                        },
                        "signers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "nonSigners": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "quorumStakes": {
                          "type": "object",
                          "properties": {
                            "quorumNumber": {
                              "type": "string"
                            },
                            "stake": {
                              "type": "string"
                            }
                          }
                        },
                        "signatoryRecordHash": {
                          "type": "string"
                        },
                        "logs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "logIndex": {
                                "type": "string"
                              },
                              "logTransactionHash": {
                                "type": "string"
                              },
                              "logTransactionIndex": {
                                "type": "string"
                              },
                              "logAddress": {
                                "type": "string"
                              },
                              "logData": {
                                "type": "string"
                              },
                              "topics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "transactionHash": {
                                "type": "string"
                              },
                              "nonce": {
                                "type": "integer"
                              },
                              "index": {
                                "type": "integer"
                              },
                              "fromAddress": {
                                "type": "string"
                              },
                              "toAddress": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "gas": {
                                "type": "integer"
                              },
                              "gasPrice": {
                                "type": "string"
                              },
                              "receiptCumulativeGasUsed": {
                                "type": "integer"
                              },
                              "receiptGasUsed": {
                                "type": "integer"
                              },
                              "receiptStatus": {
                                "type": "string"
                              },
                              "effectiveGasPrice": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "block": {
                          "type": "object",
                          "properties": {
                            "blockNumber": {
                              "type": "integer"
                            },
                            "blockHash": {
                              "type": "string"
                            },
                            "parentHash": {
                              "type": "string"
                            },
                            "nonce": {
                              "type": "string"
                            },
                            "sha3Uncles": {
                              "type": "string"
                            },
                            "logsBloom": {
                              "type": "string"
                            },
                            "transactionsRoot": {
                              "type": "string"
                            },
                            "stateRoot": {
                              "type": "string"
                            },
                            "receiptsRoot": {
                              "type": "string"
                            },
                            "miner": {
                              "type": "string"
                            },
                            "difficulty": {
                              "type": "integer"
                            },
                            "totalDifficulty": {
                              "type": "integer"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "extraData": {
                              "type": "string"
                            },
                            "gasLimit": {
                              "type": "integer"
                            },
                            "gasUsed": {
                              "type": "integer"
                            },
                            "transactionCount": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "batchId": {
                          "type": "string"
                        },
                        "blockNumber": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/eigenda/batch-nonsigners": {
      "get": {
        "summary": "Batch Non-Signers",
        "description": "Fetches all non-signers information of a given batch.",
        "operationId": "getNonSignersByBatchId",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ethereum",
                "holesky"
              ],
              "default": "holesky"
            },
            "required": true,
            "description": "Select the network you want to track."
          },
          {
            "name": "batchId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "description": "The ID of the batch for which non-signer information is being requested."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved non-signer data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "operatorId": {
                            "type": "string",
                            "description": "The unique ID of the operator."
                          },
                          "operator": {
                            "type": "string",
                            "description": "The name or identifier of the operator."
                          },
                          "socket": {
                            "type": "string",
[...]
