{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Eigen Explorer",
    "description": "Api reference for the Eigen Explorer",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockflow.network/rest/ce08cc65-f81c-4f72-90c8-fee9c3467fca"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/operator-info": {
      "post": {
        "operationId": "getBatchDetails",
        "summary": "Retrieve Operator Batch Details",
        "description": "Returns operator details including socket, batches details",
        "tags": ["Eigenda"],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Operator address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonSignings",
            "in": "query",
            "description": "Include non-signing batches",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of operator details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "The HTTP status code",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "eigenda": {
                          "type": "object",
                          "properties": {
                            "socket": {
                              "type": "string",
                              "description": "The operator's socket address",
                              "example": "3.210.140.189:32005;32004"
                            },
                            "address": {
                              "type": "string",
                              "description": "The operator's address",
                              "example": "0x1234567890abcdef1234567890abcdef12345678"
                            },
                            "operatorId": {
                              "type": "string",
                              "description": "The operator's ID",
                              "example": "0x1234567890abcdef1234567890abcdef12345678"
                            },
                            "status": {
                              "type": "string",
                              "description": "The operator's status",
                              "example": "active"
                            },
                            "entries": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "batchId": {
                                    "type": "number",
                                    "description": "The batch's ID",
                                    "example": "7074"
                                  },
                                  "timestamp": {
                                    "type": "number",
                                    "description": "The batch's status",
                                    "example": "1715712851"
                                  }
                                }
                              }
                            },
                            "exits": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "batchId": {
                                    "type": "number",
                                    "description": "The batch's ID",
                                    "example": "7074"
                                  },
                                  "timestamp": {
                                    "type": "number",
                                    "description": "The batch's status",
                                    "example": "1715712851"
                                  }
                                }
                              }
                            },
                            "latestBatchId": {
                              "type": "number",
                              "description": "The latest batch's ID",
                              "example": "7074"
                            },
                            "skipRate": {
                              "type": "string",
                              "description": "The operator's skip rate",
                              "example": "0.1"
                            },
                            "successRate": {
                              "type": "string",
                              "description": "The operator's success rate",
                              "example": "0.9"
                            },
                            "skippedBatchesCount": {
                              "type": "number",
                              "description": "The operator's skipped batches count",
                              "example": 10
                            },
                            "totalActiveBatchesCount": {
                              "type": "string",
                              "description": "The operator's total active batches count",
                              "example": "10"
                            },
                            "totalProcessedBatches": {
                              "type": "string",
                              "description": "The operator's total processed batches",
                              "example": "10"
                            },
                            "skippedBatches": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "description": "The operator's skipped batches"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": ["status", "body"],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "body": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "required": ["error", "type"],
        "properties": {
          "error": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "NotFound": {
        "type": "object",
        "required": ["error", "type"],
        "properties": {
          "error": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Timeout": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
